@charset "UTF-8";
/* ================================================ */
/*               全体設定                            */
/* ================================================ */

html {
    font-size: 65%;
}

body {
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif, Verdana, "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
    line-height: 1.5;
    color: #333;
}

/*メニュー部分*/
.ham-menu {
    background-color: #fff; /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px; /*メニュー内部上下左右余白*/
    position: fixed;
    right: -300px; /*メニュー横幅①と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 300px; /*メニュー横幅①*/
    z-index: 1000;
    font-size: 1.3rem;
}

.ham-menu ul {
    list-style-type: none;
}

.ham-menu li {
    padding: 10px 0;
}

.ham-menu a {
    color: inherit;
    text-decoration: none;
}

.ham-menu a:hover {
    color: #42761f;
}

/*メニューアイコン部分は疑似要素で*/
.ham-menu::before {
    background-color: transparent; /*ボタン部分背景色*/
    border-radius: 0 0 0 10px; /*左下角丸*/
    color: #fff; /*アイコン（フォント）色*/
    content: "≡"; /*メニューアイコン*/
    display: block;
    font-size: 50px; /*アイコン（フォント）サイズ*/
    height: 50px;
    line-height: 50px; /*縦位置中央化*/
    position: absolute;
    right: 100%;
    text-align: center;
    top: 0;
    width: 50px;
}

/*透過背景部分*/
.menu-background {
    background-color: #333; /*黒背景部分背景色*/
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 100%;
    z-index: -1;
}

/*hover 時の処理*/
.ham-menu:hover {
    transform: translate(-300px); /*メニュー横幅①と合わせる*/
}

.ham-menu:hover + .menu-background {
    opacity: 0.5; /*黒背景部分透過度*/
    z-index: 999;
}

/* ================================================ */
/*PC用のcss*/
/* ================================================ */

@media screen and (min-width: 979px) { /*ウィンドウ幅が979px以上の場合に適用*/
/* ================================================ */
/*ヘッダー*/
/* ================================================ */

.header {
    width: auto;
    min-height: 830px;
    background: url(../images/header_bg.jpg) no-repeat;
    background-size: cover;
}

.heading1_logo-image {
    margin: 0;
    padding: 10px;
}

/* ================================================ */
/*メインコンテンツ*/
/* ================================================ */

#about {
    position: relative;
    height: 383px;
    margin: 0 170px;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    background: url(../images/main_about_02.jpg) no-repeat;
    background-position: center center;
    background-size: 1000px 390px;
}

.text {
    margin: 0 auto;
    padding-top: 130px;
    font-size: 3rem;
    text-align: center;
}

#menu {
    height: 933px;
    background: url(../images/main_menu_01.jpg) no-repeat;
    background-position: center center; 
}

#menu ol {
    margin: 90px 0 0;
    font-size: 2.5rem;
}

#menu li {
    margin: 16px 0;
    font-weight: bold;
}

h2 {
    margin: 0;
}

.heading2 {
    text-align: center;
    font-size: 5rem;
    border-bottom: 5px solid #42761f;
}

.head_menu {
    padding-top: 80px;
}

.box {
    display: flex;
    justify-content: center;
}

.tapioca_pic > img {
    margin-top: 80px;
    padding-right: 35px;
}

.girl_pic > img {
    margin-top: 140px;
}

.head_info {
    padding: 60px 0;
    text-align: center;
}

.shop_box {
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
    padding-bottom: 50px;
}

.shop-info {
    min-width: 500px;
    max-height: 428px;
    background: url(../images/main_shop_01.png) no-repeat;
}

.heading3 {
    margin-top: 25px;
    margin-left: 40px;
    font-size: 3rem;
}

.info-shop-list {
    list-style-type: none;
}

.info-shop-list li {
    list-style-type: none;
    padding: 5px 0;
    font-size: 2rem;
}

/* ================================================ */
/*フッター*/
/* ================================================ */

.footer {
    margin-top: 50px;
    min-height: 148px;
    background-image: url(../images/footer_bg.png);
}

.footer p {
    margin: 0;
    text-align: center;
    font-size: 2rem;
}

small {
    display: block;
    padding-top: 110px;
}

#page-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 1rem;
}

#page-top a {
    background: #bfd4b6;
    text-decoration: none;
    color: #fff;
    width: 40px;
    padding: 50px 0;
    text-align: center;
    display: block;
    border-radius: 30px;
}

#page-top a:hover {
    text-decoration: none;
    background: #333;
}
}

/* ================================================ */
/*PCとタブレット用の間のcss*/
/* ================================================ */

@media screen and (max-width: 978px)  { 

    .header {
        width: 100%;
        min-height: 500px;
        background: url(../images/header_bg.jpg) no-repeat;
        background-size: cover;
    }

    .heading1_logo-image {
        margin: 0;
        padding: 10px;
    }

    #about {
        padding-top: 30px;
        font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
        font-weight: 600;
        text-align: center;
        font-size: 2rem;
    }

    .heading2 {
        margin: 40px;
        border-bottom: 2px solid #42761f;
        font-size: 1.9rem;
    }

    .menu_list {
        margin: 15px 0;
        font-size: 1.5rem;
    }

    .tapioca_pic {
        margin-bottom: 30px;
        text-align: center;
    }

    .girl_pic {
        text-align: center;
    }

    .shop_flex {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
    }

    .heading3 {
        margin: 35px 0 0 40px;
        font-size: 1.5rem;
    }

    .shop-info {
        margin-bottom: 60px;
    }

    .info-shop-list {
        font-size: 1.5rem;
    }

    .info-shop-list ul {
        margin: 0;
    }

    .info-shop-list li {
        margin: 0;
        text-align-last: left;
        list-style-type: none;
        
    }

    .map {
        margin-top: 10px;
        text-align: center;
    }

    .footer {
        margin-top: 20px;
        min-height: 148px;
        text-align: center;
        background-image: url(../images/footer_bg.png);
        font-size: 1.6rem;
    }

    .footer p {
        margin: 0;
    }

    small {
        display: block;
        padding-top: 110px;
    }


    #page-top {
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
    
    #page-top a {
        display: block;
        background: #bfd4b6;
        text-decoration: none;
        color: #fff;
        width: 40px;
        padding: 50px 0;
        text-align: center;
        border-radius: 30px;
    }

    #page-top a:hover {
        text-decoration: none;
        background: #333;
    }


}

/* ================================================ */
/*タブレット用のcss*/
/* ================================================ */

@media screen and (max-width: 767px) { /* 767px以下用（タブレット／スマートフォン用）の記述 */

    .header {
        width: 100%;                                        
        height: auto;   
        background-repeat:  no-repeat;                                                                                                                           
    }
    
    .heading1_logo-image > img {
        width: 50%;
    }

    #about {
        padding-top: 15px;
        text-align: center;
        font-weight: 600;
    }

    .heading2 {
        margin: 40px;
        margin-bottom: 10px;
        border-bottom: 2px solid #42761f;
        font-size: 1.9rem;
    }

    .menu_list {
        margin: 25px 0 30px 15px;
        font-size: 1.5rem;
    }

    .tapioca_pic > img {
        max-width: 100%;
        height: auto;
    }

    .shop_flex {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
    }

    .info-shop-list {
        font-size: 1.5rem;
    }

    .info-shop-list li {
        margin: 0;
        list-style-type: none;
    }

    .map {
        width: 100%;
        height: auto;
        margin-top: 10px;
        text-align: center;
    }

    small {
        display: block;
        padding-top: 110px;
    }

    #page-top {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
    
    #page-top a {
        display: block;
        background: #bfd4b6;
        text-decoration: none;
        color: #fff;
        width: 40px;
        padding: 50px 0;
        text-align: center;
        border-radius: 30px;
    }

    #page-top a:hover {
        text-decoration: none;
        background: #333;
    }

}


/* ================================================ */
/*スマホ用のcss*/
/* ================================================ */

@media screen and (max-width: 479px) { /* 479px以下用（スマートフォン用）の記述 */

    .header {
        min-height: 300px;
        background: url(../images/header_bg.jpg) no-repeat;
        background-size: cover;
        font-size: 1.1rem;
    }

    .text {
        font-size: 1.5rem;
    }

    .map {
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
    }

    .map iframe {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .footer {
        font-size: 1.4rem;
    }

}
